@mixin google-font($family) {
    @import url("https://fonts.googleapis.com/css2?family=#{$family}:wght@300;700&display=swap");
}
@include google-font("Roboto+Condensed");

$default-family-font: 'Roboto Condensed', sans-serif;
$font-huge-weight: 700;
$font-small-weight: 300;
$font-huge: 20px;
$font-small: 14px;

// colors
$primary-color: #1984ae;
$secondary-color: #9ccde1;
$primary-text-color: #02C39A;
$secondary-text-color: #797979;
$bg-color: #f0f8fa;
$text-links: #9ccde1;
$text-links-hover: #74abc1;