@import '../../styles/shared';

.Post-item {
    border-radius: .3rem;
    background-color: $secondary-color;
    margin: 0 .8rem .8rem 0;
    padding: .8rem;
    width: 40%;
    flex: auto;

    box-shadow: 0px 0px 4px 0px rgba(77,77,77,1);

    &:nth-child(4n+1) {
        width: 20%;
    }
    &:nth-child(4n+1):nth-child(2n+2) {
        width: 25%;
    }
    &:nth-child(4n+1):nth-child(2n+3) {
        width: 30%;
    }

    header {
        margin: .6rem 0rem;
        padding: .2rem 0rem;
        border-bottom: 1px solid $primary-color;
        font-size: 1.3rem;
        a {
            color: $primary-color;
            &:hover {
                color: $primary-text-color;
            }
        }
    }
    .Post-item-content {
        margin: .6rem 0rem;
        padding: .2rem 0rem;
        border-bottom: 1px solid $primary-color;
        .Post-item-hashtags {
            padding: .4rem 0rem;
            ul {
                display: flex;
                justify-content: center;
                li {
                    display: inline-block;
                    margin: 0px 6px;
                    padding: .3rem .5rem;
                    border-radius: .6rem;
                    background-color: $primary-color;
                    color: $secondary-color;
                }
            }
        }
        .Post-item-link {
            a {
                color: $primary-color;
                &:hover {
                    color: $primary-text-color;
                }
            }
        }
    }
    .Post-item-stats {
        margin: .6rem 0rem;
        padding: .2rem 0rem;
        border-bottom: 1px solid $primary-color;
        line-height: 1.3rem;
    }
    .Post-item-actions {
        a {
            color: $primary-color;
            &:hover {
                color: $primary-text-color
            }
        }
    }
}

.Post-comments {
    margin: .6rem 0rem;
    li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
        p {
            margin: .6rem 0rem;
        }
    }
}
