@import '../../styles/shared';

.Post-item {
    border-radius: .3rem;
    background-color: $secondary-color;
    margin: .6rem;
    padding: .8rem;
    header {
        margin: .6rem 0rem;
        padding: .2rem 0rem;
        border-bottom: 1px solid $primary-color;
        font-size: 1.3rem;
        a {
            color: $primary-color;
            &:hover {
                color: $primary-text-color;
            }
        }
    }
    .Post-item-content {
        margin: .6rem 0rem;
        padding: .2rem 0rem;
        border-bottom: 1px solid $primary-color;
        .Post-item-hashtags {
            padding: .4rem 0rem;
            ul {
                display: flex;
                justify-content: center;
                li {
                    display: inline-block;
                    margin: 0px 6px;
                    padding: .3rem .5rem;
                    border-radius: .6rem;
                    background-color: $primary-color;
                    color: $secondary-color;
                }
            }
        }
    }
    .Post-item-stats {
        margin: .6rem 0rem;
        padding: .2rem 0rem;
        border-bottom: 1px solid $primary-color;
        line-height: 1.3rem;
    }
    .Post-item-actions {
        a {
            color: $primary-color;
            &:hover {
                color: $primary-text-color
            }
        }
    }
}